.wrap {
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 39px 34px;
    flex-basis:  51%;
    flex-shrink: 1;
}
.imgBig {
    flex-basis: 440px;
    flex-shrink: 1;
    margin-left: 30px;
}
@media (max-width: 1279px) {
    .wrap {
        padding: 20px 17px;
    }
    .imgBig {
        flex-basis: 234px;
        flex-shrink: 1;
        margin-left: 20px;
    }
}
@media (max-width: 700px) {
    .wrap {
        padding: 21px 12px;
        width: 100%;
    }
    .imgBig {
        margin-left: 15px;
    }
}