
.header {
    padding: 20px 73px 0 50px;
    display: flex;
    justify-content: space-between;
    background: #EEEEEE;
    height: 176px;
}
.title {
    font-weight: 700;
    font-size: 48px;
}
.text {
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
    max-width: 529px;
}
@media (max-width: 1279px) {
    .header {
        padding: 15px 43px 0 41px;
        height: 110px;
    }
    .title {
        font-size: 30px;
    }
    .text {
        font-size: 16px;
        max-width: 353px;
    }
}
@media (max-width: 725px) {
    .header {
        padding: 10px 20px 0 20px;
        height: 160px;
        flex-direction: column;
        align-items: center;
    }
    .title {
        font-size: 20px;
        text-align: center;
    }
    .text {
        font-size: 12px;
        max-width: 100%;
        text-align: center;

    }
    .logo {
        width: 240px;
    }
}

