.wrap {
    padding: 50px 50px 100px;
}

.title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}

.list {
    list-style: none;
    display: flex;
}
.listItem:nth-child(2n+1) {
    flex-shrink: 0;
    flex-grow: 0;
}
.circleBlock1,
.circleBlock2,
.circleBlock3,
.circleBlock4,
.circleBlock5
{
    box-shadow: 0 10px 20px rgba(94, 94, 94, 0.1);
    border-radius: 90px;
    width: 180px;
    height: 180px;
}
.circleBlock1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.circleBlockText {
    font-weight: 700;
    font-size: 36px;
    max-width: 80px;
    text-align: center;
}
.circleBlock2 {
    background: url("../../images/explanation component/big/frame-1.png") no-repeat center;
}
.circleBlock3 {
    background: url("../../images/explanation component/big/frame-2.png") no-repeat center;
}
.circleBlock4 {
    background: url("../../images/explanation component/big/frame-3.png") no-repeat center;
}
.circleBlock5 {
    background: url("../../images/explanation component/big/frame-4.png") no-repeat center;
}
.listItemImgLabel {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
.listItem:nth-child(2n) {
    flex-basis: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}
@media (max-width: 1279px) {
    .wrap {
        padding: 40px 40px 76px 40px;
    }

    .title {
        font-size: 30px;
        margin-bottom: 11px;
    }
    .list {
        justify-content: center;
    }
    .circleBlock1,
    .circleBlock2,
    .circleBlock3,
    .circleBlock4,
    .circleBlock5 {
        width: 105px;
        height: 105px;
    }

    .circleBlockText {
        font-size: 24px;
        max-width: 73px;
    }
    .circleBlock2 {
        background: url("../../images/explanation component/middle/frame-1.png") no-repeat center;
    }
    .circleBlock3 {
        background: url("../../images/explanation component/middle/frame-2.png") no-repeat center;
    }
    .circleBlock4 {
        background: url("../../images/explanation component/middle/frame-3.png") no-repeat center;
    }
    .circleBlock5 {
        background: url("../../images/explanation component/middle/frame-4.png") no-repeat center;
    }
    .listItemImgLabel {
        font-size: 14px;
        margin-top: 6px;
        max-width: 93px;
    }
    .listItem:nth-child(2n) {
        flex-basis: 41px;
        height: 105px;
    }
}
@media (max-width: 700px) {
    .wrap {
        padding: 42px 20px 40px 20px;
    }

    .title {
        font-size: 20px;
    }

    .list {
        display: grid;
        grid-template-columns: 110px 40px 110px 40px 110px;
        justify-content: center;
    }
    .listItem:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .listItem:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .listItem:nth-child(3) {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .listItem:nth-child(4) {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    .listItem:nth-child(5) {
        grid-column: 5/6;
        grid-row: 1/2;
    }
    .listItem:nth-child(6) {
       display: none;
    }
    .listItem:nth-child(7) {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .listItem:nth-child(8) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .listItem:nth-child(9) {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .circleBlock1,
    .circleBlock2,
    .circleBlock3,
    .circleBlock4,
    .circleBlock5
    {
        width: 110px;
        height: 110px;
    }
    .circleBlockText {
        max-width: 77px;
    }
    .circleBlock2 {
        background: url("../../images/explanation component/small/frame-1.png") no-repeat center;
    }
    .circleBlock3 {
        background: url("../../images/explanation component/small/frame-2.png") no-repeat center;
    }
    .circleBlock4 {
        background: url("../../images/explanation component/small/frame-3.png") no-repeat center;
    }
    .circleBlock5 {
        background: url("../../images/explanation component/small/frame-4.png") no-repeat center;
    }
    .listItemImgLabel {
        margin-top: 10px;
    }
    .listItem:nth-child(2n) {
        height: 110px;
    }
}
@media (max-width: 450px) {
    .list {
        grid-template-columns: 110px 40px 110px;
    }
    .listItem:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .listItem:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .listItem:nth-child(3) {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .listItem:nth-child(4) {
        display: none;
    }
    .listItem:nth-child(5) {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .listItem:nth-child(6) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .listItem:nth-child(7) {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .listItem:nth-child(8) {
        display: none;
    }
    .listItem:nth-child(9) {
        grid-column: 1/4;
        grid-row: 3/4;
        justify-self: center;
    }
}



